
# dependencies
node_modules



/.pnp
.pnp.js


/coverage

packages/dist/**/*
!packages/dist/**/README.md
!packages/dist/**/package.json


/test

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
